@font-face{
    font-family:FreeLine;
    src:url(fonts/FreeLine.ttf);
}
@font-face{
    font-family:PrStart;
    src:url(fonts/PrStart.ttf);
}
@font-face{
    font-family:Grafitti;
    src:url(fonts/MARSNEVENEKSK-Regular.otf);
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: PrStart;
    background-color:blue;
}
ul{
    display: inline-flex;
    justify-content: center;
    margin: 20px 5px 5px 36%;
    padding: 5px 5px 5px 5px;
    width: 35%;
}
li{
    display: flex;
    list-style: none;
    padding: 15px 10px 10px 10px;
    margin-right: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: cornflowerblue;
    font-size: 11px;
    transition: background-color 500ms ease-out 100ms;
}
a{
    text-decoration: none;
    color: white;
    transition: background-color 2s ease-out 100ms;
}
li:hover{
    background-color: darkblue;
}
a:hover{
   color: red;
}
aside{
    position: absolute;
    right: 50px;
    top: 30%;
    color: lawngreen;
    font-family: PrStart;
}
header{
   display: inline-flex;
    justify-content: center;
}
h1{
    color: white;
    position: absolute;
    margin-left: 100%;
    margin-top:20%;
    font-family: Grafitti;
    font-size: 150px;
    z-index: 100000;
    background-color: blue;
    padding: 15px 15px 15px 15px;
    border: 1px solid darkblue;
    border-radius: 20px;
}
#a1{
    position: absolute;
    left: 0px;
    width: 50%;
}
#a2{
    position: absolute;
    right: 0px;
    width: 50%;
    overflow: hidden;
    max-height: 1030px;
}
@media only screen and (max-width:500px){
    #a1{
        visibility: hidden;
    }
    #a2{
        visibility: hidden;
    }
    body{
        background-image: url(Images/boyboyjames.png);
    }
}